/* Overall page layout */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "controls"
    "transcript";
}

.transcript {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title"
    "text";
  grid-area: transcript;
  overflow: hidden;
}

.transcript .transcript-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Typography */

body {
  font-family: 'Atkinson Hyperlegible';
}

h1, h2 {
  font-size: 1rem;
  font-variant-caps: all-small-caps;
  color: var(--bs-secondary);
}

.transcript-text {
  font-size: 5rem;
  line-height: 1.25;
}

.transcript-text p {
  margin: 3rem 0;
}

