.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "controls"
    "transcript";
}

.transcript {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title"
    "text";
  grid-area: transcript;
}

.transcript .transcript-text {
  border: 1px solid gray;
  min-height: 300px;
  border-radius: 8px;
  overflow: scroll;
}
